# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
session*
.lsp*

# Other directories
elpa
snippets
request
games
url
projectile-bookmarks.eld
bookmarks
elpy
*.cache
recentf
